# Ігноруємо файли парсера
../TSGoods.trs
../products.json
../ftp_downloader.log
../ftp_downloader_error.log
../cron.log
../paramiko.log
../parsed_data/
../venv/

# Інші тимчасові файли
*.log
.DS_Store
